!!!
%html{:lang => "zh"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "baidu-site-verification", :content => "S6dL4aQDXO"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "糖果,快消,副食品,玉林,供应商协会", :name => "keywords"}/
    %meta{:content => "玉林市全客福商贸有限责任公司是一家集乳制品、保健品、糖果、休闲食品、日化洗涤系列、品牌高档月饼为一体的专营公司。", :name => "description"}/
    %title 全客福商贸有限责任公司
    = csrf_meta_tags
    = favicon_link_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Libre+Baskerville:400,600|Poppins:400,500,700", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="js/html5shiv.js"></script>
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

  %body
    = yield
